@media only screen and (min-width: 768px) {
  .navbar{
    height: 10vh;
    background-color: #ffffff;
  }
}

.navbrand{
  color:#f05945 !important;
}

.navbutton-login{
  background-color:#f05945;
  border-radius: 25px;
  border: 0;
}

.navbutton-login:hover{
  background-color:#da5240;
  border-radius: 25px;
  border: 0;
}

.color-orange{
  color:#da5240;
}